*{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}
/*share style*/
.text-light-gray{
    font-size: 1rem;
    color: var(--dark-03, #727272); 
}
.section-title{
    
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--dark-01, #131313);
}
.btn-primary{
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    border: 0;
    cursor: pointer;
}
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul{
    display: flex;
    align-items: center;
    
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}
nav li a {
    text-decoration: none;
    color: var(--dark-02, #424242);
}
.banner-con{
    text-align: center;
    max-width: 800px;
    margin: 0 auto;

}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: var(--dark-01, #131313);
}

.banner img{
    width: 100%;
    margin-top: 20px;
}
main{
    max-width: 1440px ;
    margin: 70px auto;

}
.teams-container{
    display: flex;
    align-items: center;
   
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}
.team-content{
    padding: 0px 70px;
}
.team-title{
    font-size: 2.8rem;
}
.Features .section-title{
    border-left:5px solid  #FF900E ;
    padding-left: 20px;
}
.Features{
    display: flex;
    margin-top: 130px;
    gap: 100px;
}
.feature-content .card{
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);  
}
.feature-img img{
    height: 90%;
    margin-left: 90px;
}
.ten-years-badge{
    border-radius: 8px;
    background: #FF900E;
    color: white;
    width: 340px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
    

}
.ten-years-badge h2{
    font-size: 4rem;
    margin: 0;

}
.ten-years-badge p{
    font-size: 1.5rem;
}
.Quick-list {
    color: var(--dark-03, #727272);
    
    font-weight: 500;
}
.of-Our{
    color: var(--dark-01, #131313);
    font-weight: 700;
}
.text-Features{
    color: #FF900E;
    font-weight: 700;
}
.facts-card-container{
display: flex;
justify-content: space-around;
}
.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
    
}
.facts-card-container .card-title{
    font-weight: 600;
    color: var(--dark-03, #727272);
    font-size: 1.25rem;
    margin-top: 5px;
    
}
.facts-card-container .card-stats{
    color: var(--dark-02, #424242);
    font-size: 2.8rem;
    margin: 0px 10px;
    
}
.responsor{
    text-align: center;
}
.responsor-img-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
    
}
.responsor-img-container img{
    width: 165px;
}
footer{
    width: 1440px;
    height: 100px;
    border-radius: 8px;
    background: #FFF4E7;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-text{
    color: var(--dark-02, #424242);
    font-size: 1.2rem;
   
}














@media screen and ( max-width:576px) {
    header{
        padding: 20px;
    }
    nav,.teams-container ,.facts-card-container ,.responsor-img-container ,.Features{
        flex-direction: column;
    }
    .feature-img img{
        width: 90%;
        margin-left: 0;
    }
    .ten-years-badge{
        max-width: 300px;
        position: static;

    }
    .team-img-container{
        grid-template-columns: 1fr;
    }
    .team-content ,.facts-card-container{
        padding: 0px 20px;
    }
    .facts-card-container{
        gap: 20px;
    }
    footer{
        width:auto ;
        margin:0 10px ;
        padding: 0 5px;
    }
    
}
@media screen and (min-width:577px) and (max-width:960px) {
    header{
        padding: 50px;
    }
    nav ,.teams-container ,.responsor-img-container ,.Features{
        flex-direction: column;
    }
    .facts-card-container{
        gap: 5px;
    }
    footer{
        width:auto ;
        margin:0 10px ;
        padding: 0 5px;
    }
    
}




